@font-face {
  font-family: Cocogoose;
  src: url(Cocogoose_trial.ttf);
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.cocogoose-font {
  font-family: Cocogoose, sans-serif;
}

.index-footer-bg {
  background-color: #f7f7f7;
}

.about-footer-bg {
  background-color: #272a31;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-img {
  height: 100vh;
  width: 100;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url('images/library-landing.jpg'); */
  background-color: #ededed;
}

.event-description {
  background-color: #F8F8F8;
  border: 1px solid white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  padding: 0;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar li a {
  padding: 0.5rem;
  color: #272a31;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
}

.navbar-title,
.navbar-links {
  display: none;
}

.navbar-links li:hover {
  background-color: grey;
}

.bg-img h1 {
  margin: 0;
  color: #ec5442;
  font-family: Cocogoose;
}

.bg-img .text:first-child {
  color: #EC5242;
}

.bg-img .text {
  color: #272a31;
}

.bg-img h2 {
  margin: 0;
  font-family: Cocogoose;
  color: #272a31;
  font-size: 1.5rem;
}

.toggle-button {
  display: flex;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 17px;
  margin: 12px;
}

.program-container {
  padding: 0;
}

.activity-header {
  color: #EC5242;
  font-size: 14px;
}

.navbar-container {
  width: 100%;
}

.ticket-description {
  border-radius: 2rem;
  font-size: 1.3rem;
}

.main-page {
  background-color: #272a31;
}

.sponsors-section {
  background-color: #414246;
}

.featured-section {
  background-color: #f7f7f7;
}

.summit img{
  opacity: 0.3;
}

.summit > .text {
  margin: 0;
  text-align: center;
  position: relative;
  bottom: 55%;
  color: #272a31;
  height: auto;
}

.summit .text h4 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.sponsors-container > div {
  background-color: #414246;
}

table {
  border: 3px solid;
}

#bg-ticket {
  height: 100vh;
  width: 100;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f7f7f7;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: red;
}

.about-title {
  font-family: Cocogoose;
}

.bg-img .container, #bg-ticket .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.main-page-card {
  display: flex;
  background-color: #3C3F46;
}

.main-page-card:hover {
  border: 2px solid #f7f7f7;
}

.main-page-card i,
.main-page-card h3,
.main-page-card p {
  flex: 1;
}

.card-text {
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.speakers-hr {
  border-bottom: 1px solid #ec5442;
  width: 3.5rem;
}

.speakers-header {
  font-size: 1.4rem;
  font-weight: bold;
}

.featured-speakers {
  display: grid;
}

.speaker-desc-text {
  margin-bottom: 2.5rem;
}

.speaker-desc-text h5 {
  font-weight: bolder;
}

.speaker-desc-text span {
  color: #EC5242;
}

.speaker-desc-text hr {
  color: #ec5442;
  width: 2rem;
}

.speaker-image {
  margin-right: 10px;
}

@media (min-width: 768px) {

  .navbar {
    margin: 0 4.5rem;
  }

  .navbar-title,
  .navbar-links {
    display: flex;
  }

  .toggle-button {
    display: none;
  }

  .card-text {
    text-align: center;
  }

  .event-description {
    width: 75%;
  }

  .main-page {
    padding: 0 100px;
  }

  .program-container {
    display: flex;
    padding: 0;
  }

  .program-container > div {
    flex-basis: 20%;
    margin: 0 0.1rem;
  }

  .main-page-card {
    display: grid;
  }

  .featured-speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
  }

  .featured-speakers > div:nth-child(odd) {
    margin-left: 4rem;
  }

  .meet-n-greet {
    text-align: center;
  }

  .featured-speakers > div:nth-child(even) {
    margin-right: 4rem;
  }

  .footer-row {
    display: flex;
    padding: 0 4rem;
  }

  .footer-img {
    flex: 1;
  }

  .three-summits {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .footer-text {
    flex: 2;
  }
}