* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('images/library-landing.jpg');
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar li a {
  padding: 1rem;
  color: #d39e6c;
  text-decoration: none;
  display: block;
}

h1, .text {
  margin: 0;
  color: white;
}