@font-face {
  font-family: Cocogoose;
  src: url(Cocogoose_trial.ttf);
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.cocogoose-font {
  font-family: Cocogoose, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.bg-img {
  height: 100vh;
  width: 100;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url('images/library-landing.jpg'); */
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  padding: 0;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar li a {
  padding: 0.5rem;
  color: #272a31;
  text-decoration: none;
  display: block;
}

.navbar-title,
.navbar-links {
  display: none;
}

.navbar-links li:hover {
  background-color: grey;
}

.bg-img h1, .text {
  margin: 0;
  color: #ec5442;
  font-family: Cocogoose;
}

.toggle-button {
  display: flex;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 17px;
  margin: 12px;
}

.navbar-container {
  width: 100%;
}

.ticket-description {
  border-radius: 2rem;
  font-size: 1.3rem;
}

table {
  border: 3px solid;
}

#bg-ticket {
  height: 100vh;
  width: 100;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f7f7f7;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: red;
}

.about-title {
  font-family: Cocogoose;
}

.bg-img .container, #bg-ticket .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.main-page-card {
  display: flex;
  border: 1px solid blue;
}

.card-text {
  font-family: 'Lato', sans-serif;
}

.program-container {
  display: grid;
}

footer .row {
  display: grid;
}

.footer-item {
  text-align: center;
}

.featured-speakers {
  display: grid;
}

.featured-speakers > div {
  background-color: maroon;
  margin-bottom: 5px;
}


@media (min-width: 768px) {

  .navbar {
    margin: 0 4.5rem;
  }

  .navbar-title,
  .navbar-links {
    display: flex;
  }

  .toggle-button {
    display: none;
  }

  .event-description {
    width: 75%;
  }

  .program-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .main-page-card {
    display: grid;
    grid-gap: 0.5rem;
  }

  .featured-speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  footer .row {
    display: flex;
  }

  footer .row > div {
    flex: 1;
  }
}